<h1>Welcome home!!!</h1>
<button class="btn btn-primary" ng-click="addNote()">Add note</button>
<table class="table table-stripped">
	<tr>
		<th>Title</th>
		<th>Description</th>
		<th>Complete</th>
		<th>Action</th>
	</tr>
	<tr ng-repeat="note in notes">
		<td>{{ note.title }}</td>	
		<td>{{ note.description }}</td>
		<td><input type="checkbox" ng-checked="note.completed" ng-model="note.completed" ng-change="toggleComplete(note)"></td>
		<td> 
			<button class="btn btn-danger" ng-click="removeNote(note.id)">Delete</button> 
			<button class="btn btn-info" ng-click="editNote(note)">Edit</button> 
		</td>
	</tr>
</table>
